<div ng-controller="LayerController">
  <div>
    <div class="btn-group" ng-controller="RadioController">
      <label ng-repeat="size in layerSizes" class="btn btn-primary" ng-model="stepIndex" ng-model-options="{ getterSetter: true }" btn-radio="$index">{{sizeLabel(size)}}</label>
    </div>
  </div>
  <div id="canvii">
    <canvas class="mapLayer" id="{{'canvas'+sizeId(size)}}" ng-repeat="size in layerSizes" width="{{layerSize.x}}" height="{{layerSize.y}}" ng-controller="DrawController">
    </canvas>
    <canvas id="scratch" width="{{layerSize.x}}" height="{{layerSize.y}}" ng-controller="DropController" ng-mousemove="canvasMove($event)">
    </canvas>
  </div>
  <div>
    Pos (x: {{coords.x}}({{mouse.x}}), y: {{coords.y}}({{mouse.y}}))
  </div>
</div>
